.img_size {
    width: 100%;
    height: 175px;
}

.cards {
    &__title {
        font-weight: 100;
    }
}

.card {
    text-align: center;
    border: none;
}

.card-title {
    font-weight: 100;
    font-size: 2.2rem;
}

.form-control {
    border: 1px solid $primary-color;
}