.gallery-title {
    padding: 3rem;
    font-weight: 100;
    font-size: 5rem;
    color: $color-primary;
}

.gallery {
    display: flex;
    align-content: center;
    justify-content: center;
}

.image-gallery {

    width: 700px;
}

.image-gallery-slide img {
    width: 100%;
    height: 400px;
}

element.style {}

.image-gallery-left-nav {
    left: 0;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
    color: $color-primary;
}

image-gallery-thumbnail.active {
    border: 3px solid $color-primary;
}