// Main Sass File
// variables
$icon-size: 55px;
$dark-overlay: rgba(99, 93, 119, 0.5);
$primary-overlay: rgba(50, 146, 166, 0.2);
// COLORS
$primary-overlay: rgba(50, 146, 166, 0.2);
$primary-color-light: #5e8b6f;
$primary-color: #436e4f;
$color-orange-light: #fa8f4d;
$color-orange-dark: #f87829;
$color-black: #000;
$font-primary:"Roboto";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: $font-primary;
    color: $primary-color;
    font-weight: 300;
    line-height: 1.6;
}

* {
    border-radius: 0 !important;
}

.font_lobster {
    font-family: 'Lobster', cursive;
}

#home-icons {
    color: $primary-color-light;
}