*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

	@include respond(tab-land) {
		// width < 1200?
		font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
	}

	@include respond(tab-port) {
		// width < 900?
		font-size: 50%; //1 rem = 8px, 8/16 = 50%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12, 12/16
	}
}

body {
	box-sizing: border-box;



}

::selection {
	background-color: $color-primary;
	color: $color-white;
}

.font_lobster {
	font-family: 'Lobster', cursive;
}

#home-icons {
	color: $color-primary-light;
}

#home-heading {
	font-size: 2rem;
	position: relative;
	min-height: 250px;
	width: auto;
	background: url("../../images/paralax/paralax.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	color: $color-primary;
	text-shadow: 1px 1px 2px rgb(20, 19, 19);
}
















.wrn {
	font-size: 1.1rem;
}

#home-icons {
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20rem;
}

#home-icons p {
	font-size: 1.4rem;
	font-weight: 100;
}

@media only screen and (max-width: 780px) {
	#home-icons {
		height: 45rem;
	}
}

@media only screen and (max-width: 400px) {
	#home-icons {
		height: 57rem;
	}
}

.location_wrapper {
	margin-top: 8rem;
}



